ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

li {
  margin: 10px 5px 10px 10px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ec9033;
}

.experinces-title {
  color: rgb(20, 20, 20);
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: orange; /* safari still uses vendor prefix */
  text-decoration-color: orange;
  margin: 20px 0px 50px 0px;
}
.left-navbar {
  display: flex;
  flex-direction: row;
}
.road-map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  position: relative;
}
.road-map-line {
  border-left: 3px solid orange;
  height: 80%;
  margin: 15px 15px 5px 30px;
}
.paragraph {
  margin: 20px 0px 0px 0px;
}
