<!-- Left Side: Image / Right Side: Text -->
<div class="left-navbar">
  <ul>
    <li id="frontend" (click)="hideSubMenu($event)">
      <a href="#"><i class="fa fa-user fa-1.5x"></i> Frontend</a>
      <ul>
        <li
          id="web"
          (click)="selectPage($event)"
          style="margin: 15px 5px 5px -20px"
        >
          <a href="#"><i class="fa fa-user fa-1.5x"></i> Web</a>
        </li>
        <li
          id="mobile"
          (click)="selectPage($event)"
          style="margin: 15px 5px 5px -20px"
        >
          <a href="#"><i class="fa fa-mobile fa-1.5x"></i> Mobile</a>
        </li>
        <li
          id="desktop"
          (click)="selectPage($event)"
          style="margin: 15px 5px 5px -20px"
        >
          <a href="#"><i class="fa fa-desktop fa-1.5x"></i> Desktop</a>
        </li>
      </ul>
    </li>
    <li id="backend" (click)="hideSubMenu($event)">
      <a href="#"><i class="fa fa-user fa-1.5x"></i> Backend</a>
      <ul>
        <li
          id="framework"
          (click)="selectPage($event)"
          style="margin: 15px 5px 5px -20px"
        >
          <a href="#"><i class="fa fa-user fa-1.5x"></i> Framework</a>
        </li>
        <li
          id="database"
          (click)="selectPage($event)"
          style="margin: 15px 5px 5px -20px"
        >
          <a href="#"><i class="fa fa-database fa-1.5x"></i> Database</a>
        </li>
      </ul>
    </li>
    <li id="uix" (click)="hideSubMenu($event)">
      <a href="#"><i class="fa fa-image fa-1.5x"></i> UI & UX</a>
      <ul>
        <li (click)="selectPage($event)" style="margin: 15px 5px 5px -20px">
          <a href="#"><i class="fa fa-user fa-1.5x"></i> Software</a>
        </li>
      </ul>
    </li>
    <li id="copywriting" (click)="selectPage($event)">
      <a href="#"><i class="fa fa-user fa-1.5x"></i> Copywriting</a>
    </li>
    <li id="management" (click)="selectPage($event)">
      <a href="#"><i class="fa fa-user fa-1.5x"></i> Management</a>
    </li>
    <li id="marketing " (click)="selectPage($event)">
      <a href="#"><i class="fa fa-user fa-1.5x"></i> Marketing</a>
    </li>
  </ul>
  <div class="road-map-container">
    <div class="road-map-line"></div>
  </div>
  <div class="paragraph">
    <p class="section-title">Frontend</p>
    <p class="section-paragraph">
      Writing things about me so you know how good I'm at pretending I'm doing
      my job. So figo so beo so fotomodeo more ghesboro, Veneto-Rumeno in the
    </p>
    <p class="section-paragraph">
      Writing things about me so you know how good I'm at pretending I'm doing
      my job. So figo so beo so fotomodeo more ghesboro, Veneto-Rumeno in the
      building che ti sviluppa anche tua madre <br />
      Figa la descrizione di sto tizio, prima lo assumo poi lo denuncio.
    </p>
  </div>
  <div class="road-map-container">
    <div style="margin: 15px 0px 15px 10px" class="road-map-line"></div>
  </div>
  <div class="skills-circle-container">
    <div class="skill-circle-container">
      <img class="icon-skill" src="assets\images\angular_skill_icon.png" />
    </div>
    <div class="skill-circle-container">
      <img class="icon-skill" src="assets\images\react_skill_icon.png" />
    </div>
    <div class="skill-circle-container">
      <img class="icon-skill" src="assets\images\html_skill_icon.png" />
    </div>
    <div class="skill-circle-container">
      <img class="icon-skill" src="assets\images\redux_skill_icon.png" />
    </div>
  </div>
</div>
