<!-- Left Side: Image / Right Side: Text -->
<div class="left-navbar">
  <ul>
    <li><a href="#">Frontend</a></li>
    <li><a href="#">Backend</a></li>
    <li><a href="#">UI/UX Design</a></li>
    <li><a href="#">Copywriting</a></li>
  </ul>
  <div class="road-map-container">
    <div class="road-map-line"></div>
  </div>
  <div class="paragraph">
    Lorem ipsum bla bla blaLorem ipsum bla bla blaLorem ipsum bla bla blaLorem
    ipsum bla bla blaLorem ipsum bla bla blaLorem ipsum bla bla blaLorem ipsum
    bla bla blaLorem ipsum bla bla blaLorem ipsum bla bla blaLorem ipsum bla bla
    bla<br />
    Lorem ipsum bla bla blaLorem ipsum bla bla blaLorem ipsum bla bla blaLorem
    ipsum bla bla blaLorem ipsum bla bla blaLorem ipsum bla bla blaLorem ipsum
    bla bla blaLorem ipsum bla bla blaLorem ipsum bla bla blaLorem ipsum bla bla
    bla<br />
  </div>
  <div class="road-map-container">
    <div class="road-map-line"></div>
  </div>
  <div>Skills boy</div>
</div>
