<div class="grid-container">
  <div class="grid-item">
    <div class="card">
      <div style="background-color: orange" class="background-title">
        <p class="title">Virtual P</p>
      </div>
      <div class="description-container">
        <p class="description">
          Descrizione sensata delle cose che vado a dire su questo progetto,
          molto figo e fantastico direi ora ci metto sopra un div
        </p>
      </div>
      <div class="used-skills">
        <div class="skill-circle-container">
          <img class="icon-skill" src="assets\images\flutter_skill_icon.png" />
        </div>
        <div class="skill-circle-container">
          <img class="icon-skill" src="assets\images\node_skill_icon.png" />
        </div>
        <div class="skill-circle-container">
          <img class="icon-skill" src="assets\images\sql_skill_icon.png" />
        </div>
        <div class="skill-circle-container">
          <img class="icon-skill" src="assets\images\figma_skill_icon.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card">
      <div style="background-color: orange" class="background-title">
        <p class="title">Recap</p>
      </div>
      <div class="description-container">
        <p class="description">
          Descrizione sensata delle cose che vado a dire su questo progetto,
          molto figo e fantastico direi ora ci metto sopra un div
        </p>
      </div>
      <div class="used-skills">
        <div class="skill-circle-container">
          <img class="icon-skill" src="assets\images\angular_skill_icon.png" />
        </div>
        <div class="skill-circle-container">
          <img class="icon-skill" src="assets\images\nestjs_skill_icon.png" />
        </div>
        <div class="skill-circle-container">
          <img class="icon-skill" src="assets\images\sql_skill_icon.png" />
        </div>
        <div class="skill-circle-container">
          <img class="icon-skill" src="assets\images\figma_skill_icon.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="card">
      <div style="background-color: orange" class="background-title">
        <p class="title">Bonfire</p>
      </div>
      <div class="description-container">
        <p class="description">
          Descrizione sensata delle cose che vado a dire su questo progetto,
          molto figo e fantastico direi ora ci metto sopra un div.<br />
          Parliamo di questo progetto fantastigorico.
        </p>
      </div>
      <div class="used-skills">
        <div class="skill-circle-container">
          <img class="icon-skill" src="assets\images\react_skill_icon.png" />
        </div>
        <div class="skill-circle-container">
          <img class="icon-skill" src="assets\images\node_skill_icon.png" />
        </div>
        <div class="skill-circle-container">
          <img class="icon-skill" src="assets\images\mongo_skill_icon.png" />
        </div>
        <div class="skill-circle-container">
          <img class="icon-skill" src="assets\images\figma_skill_icon.png" />
        </div>
      </div>
    </div>
  </div>
</div>
