<div class="project-container">
  <div class="left-arrow-container"><</div>
  <div class="project">
    <span class="project-title">Project Title</span>
    <div class="project-details">
      <div class="project-detail">
        <i class="icon-size" data-feather="layers"></i>
        <span class="title">Title</span>
      </div>
      <div class="project-detail">
        <i class="icon-size" data-feather="layers"></i>
        <span class="title">Title</span>
      </div>
      <div class="project-detail">
        <i class="icon-size" data-feather="layers"></i>
        <span class="title">Title</span>
      </div>
      <div class="project-detail">
        <i class="icon-size" data-feather="layers"></i>
        <span class="title">Title</span>
      </div>
    </div>
    <div class="project-description-container">
      <span class="project-description"
        >Descrizione random di quello che fa questo progetto.Descrizione random
        di quello che fa questo progetto.Descrizione random di quello che fa
        questo progetto.Descrizione random di quello che fa questo
        progetto.Descrizione random di quello che fa questo progetto.Descrizione
        random di quello che fa questo progetto.Descrizione random di quello che
        fa questo progetto.Descrizione random di quello che fa questo
        progetto.</span
      >
      <div class="description-line"></div>
    </div>
    <div class="skills-circle-container">
      <div class="skill-circle-container">
        <img class="icon-skill" src="assets\images\react_skill_icon.png" />
      </div>
      <div class="skill-circle-container">
        <img class="icon-skill" src="assets\images\react_skill_icon.png" />
      </div>
      <div class="skill-circle-container">
        <img class="icon-skill" src="assets\images\react_skill_icon.png" />
      </div>
    </div>
  </div>
  <div class="right-arrow-container">></div>
</div>
