<div class="flip-card" tabIndex="0">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="icon">
        <i class="front-icon-size" data-feather="layers"></i>
      </div>
      <div class="description">Emphaty</div>
    </div>
    <div class="flip-card-back">
      <div class="back-icon">
        <div class="back-icon-container">
          <i class="back-icon-size" data-feather="layers"></i>
        </div>
      </div>
      <div class="back-description">
        Qua ci dovrebbe stare abbastanza testo per descrivere le mie capacità di
        esistere sinceramente.<br />
        E' arrivato il momento di andare a capo.
      </div>
    </div>
  </div>
</div>
