<div class="skill-header-container">
  <div class="generalities">
    <span class="surname">Dumitru </span>
    <span>Cristian</span>
    <div class="description">Software developer (sometimes)</div>
  </div>
  <div class="skills-container">
    <app-bouncing-balls
      top="'115'"
      bottom="30"
      left="25"
      right="5"
      icon="icon"
      width="85px"
      height="85px"
    >
    </app-bouncing-balls>
    
  </div>
  <img
    class="image"
    src="assets\images\Thinking-Man-Transparent-Background.png"
  />
</div>
<script></script>
<!-- Distrubuzione fatta  -->
<!-- Freni fatti  -->
<!-- Gomme cambiate  -->
<!-- Tagliando fatto  -->
