<div class="skill-header-container">
  <div class="generalities">
    <span class="surname">Dumitru </span>
    <span>Cristian</span>
    <div class="description">Software developer (sometimes)</div>
  </div>
  <div class="skills-container">
    <app-bouncing-balls
      top="'top'"
      bottom="bottom"
      left="left"
      right="right"
      icon="icon"
      width="width"
      height="height"
    ></app-bouncing-balls>
  </div>
  <img
    class="image"
    src="assets\images\Thinking-Man-Transparent-Background.png"
  />
</div>
<script></script>
<!-- Distrubuzione fatta  -->
<!-- Freni fatti  -->
<!-- Gomme cambiate  -->
<!-- Tagliando fatto  -->
