<div class="header">
  <!-- <app-logo-container></app-logo-container> -->
  <img src="assets\images\logo.png" class="header-logo" />
  <app-nav-bar></app-nav-bar>
</div>
<!-- <app-skills-header></app-skills-header> -->
<!-- <app-skills-header></app-skills-header> -->
<!-- <div class="main-container">
  <div style="justify-content: center; "class="experiences-container">
    <app-job-card [alignment]="0"></app-job-card>
  </div>
</div> -->
<br />
<div class="main-container">
  <div class="experiences-container">
    <app-skills-carousell></app-skills-carousell>
  </div>
</div>
<router-outlet></router-outlet>
