.header {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  float: left;
  width: 35px;
  height: 35px;
  margin: 0px 0px 0px 10px;
}
.main-container {
  display: flex;
  justify-content: center;
  margin: 00px 0px 0px 0px;

}
.experiences-container {
  display: flex;
  width: 950px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 8px 0 rgba(87, 87, 87, 0.2);
}

.personalities-container{
  display: flex;
  width: 950px;
  border-radius: 10px;
}
.experinces-title {
  color: rgb(20, 20, 20);
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: orange; /* safari still uses vendor prefix */
  text-decoration-color: orange;
  margin-top:15px;
  margin-bottom:15px;
}
