<!-- Left Side: Image / Right Side: Text -->
<p class="experinces-title">Job experiences</p>
<div *ngIf="alignment === 0" class="job-card-container">
  <div class="image-container">
    <img src="assets\images\man_slide.png" width="209" height="237" />
  </div>
  <div class="road-map-container">
    <p class="road-map-date">15/03/2016</p>
    <div class="circle-road-map-start"></div>
    <div class="road-map-line"></div>
    <div class="circle-road-map-end"></div>
    <p class="road-map-date">15/03/2019</p>
  </div>
  <div class="description-container">
    <div class="title">Factory man</div>
    <div class="paragraph">
      The dream of any sixteen year old is to wake up at 6 in the morning, work
      with 35° in the sun while your peers are at the seaside enjoying the
      summer holiday.<br />
      <br />
      I've learned my lesson, no one gives you anything if you don't do
      something to get it.<br />
      <br />
      This experience has allowed me to learn to work under pressure, to be
      precise and above all to understand that the human body needs a lot of
      water.
    </div>
  </div>
</div>

<div *ngIf="alignment === 0" class="job-card-container">
  <div class="description-container">
    <div class="title">Receptionist</div>
    <div class="paragraph">
      The dream of any sixteen year old is to wake up at 6 in the morning, work
      with 35° in the sun while your peers are at the seaside enjoying the
      summer holiday.<br />
      <br />
      I've learned my lesson, no one gives you anything if you don't do
      something to get it.<br />
      <br />
      This experience has allowed me to learn to work under pressure, to be
      precise and above all to understand that the human body needs a lot of
      water.
    </div>
  </div>
  <div class="road-map-container">
    <p class="road-map-date">15/03/2016</p>
    <div class="circle-road-map-start"></div>
    <div class="road-map-line"></div>
    <div class="circle-road-map-end"></div>
    <p class="road-map-date">15/03/2019</p>
  </div>
  <div class="image-container">
    <img src="assets\images\man_slide.png" width="209" height="237" />
  </div>
</div>

<!-- Left Side: Image / Right Side: Text -->
<div *ngIf="alignment === 0" class="job-card-container">
  <div class="image-container">
    <img src="assets\images\man_slide.png" width="209" height="237" />
  </div>
  <div class="road-map-container">
    <p class="road-map-date">15/03/2016</p>
    <div class="circle-road-map-start"></div>
    <div class="road-map-line"></div>
    <div class="circle-road-map-end"></div>
    <p class="road-map-date">15/03/2019</p>
  </div>
  <div class="description-container">
    <div class="title">Angular developer</div>
    <div class="paragraph">
      The dream of any sixteen year old is to wake up at 6 in the morning, work
      with 35° in the sun while your peers are at the seaside enjoying the
      summer holiday.<br />
      <br />
      I've learned my lesson, no one gives you anything if you don't do
      something to get it.<br />
      <br />
      This experience has allowed me to learn to work under pressure, to be
      precise and above all to understand that the human body needs a lot of
      water.
    </div>
  </div>
</div>

<div *ngIf="alignment === 0" class="job-card-container">
  <div class="description-container">
    <div class="title">Microsoft advisor</div>
    <div class="paragraph">
      The dream of any sixteen year old is to wake up at 6 in the morning, work
      with 35° in the sun while your peers are at the seaside enjoying the
      summer holiday.<br />
      <br />
      I've learned my lesson, no one gives you anything if you don't do
      something to get it.<br />
      <br />
      This experience has allowed me to learn to work under pressure, to be
      precise and above all to understand that the human body needs a lot of
      water.
    </div>
  </div>
  <div class="road-map-container">
    <p class="road-map-date">15/03/2016</p>
    <div class="circle-road-map-start"></div>
    <div class="road-map-line"></div>
    <div class="circle-road-map-end"></div>
    <p class="road-map-date">15/03/2019</p>
  </div>
  <div class="image-container">
    <img src="assets\images\man_slide.png" width="209" height="237" />
  </div>
</div>

<!-- Left Side: Image / Right Side: Text -->
<div *ngIf="alignment === 0" class="job-card-container">
  <div class="image-container">
    <img src="assets\images\man_slide.png" width="209" height="237" />
  </div>
  <div class="road-map-container">
    <p class="road-map-date">15/03/2016</p>
    <div class="circle-road-map-start"></div>
    <div class="road-map-line"></div>
    <div class="circle-road-map-end"></div>
    <p class="road-map-date">15/03/2019</p>
  </div>
  <div class="description-container">
    <div class="title">Unicredit developer</div>
    <div class="paragraph">
      The dream of any sixteen year old is to wake up at 6 in the morning, work
      with 35° in the sun while your peers are at the seaside enjoying the
      summer holiday.<br />
      <br />
      I've learned my lesson, no one gives you anything if you don't do
      something to get it.<br />
      <br />
      This experience has allowed me to learn to work under pressure, to be
      precise and above all to understand that the human body needs a lot of
      water.
    </div>
  </div>
</div>
