<p class="experinces-title">Project Challenge</p>
<div>
  <form>
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <div>
        <label for="fname">Project name</label>
        <input type="text" id="fname" name="firstname" placeholder="" />
      </div>
      <div>
        <label for="fname">Project name</label>
        <input type="text" id="fname" name="firstname" placeholder="" />
      </div>
    </div>
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <div>
        <label for="fname">Project description</label>
        <input
          style="height: 150px"
          type="text"
          id="fname"
          name="firstname"
          placeholder=""
        />
      </div>
    </div>
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <div>
        <label for="frontend">Frontend</label>
        <select id="frontend" name="frontend">
          <option value="angular">Angular</option>
          <option value="react">React</option>
          <option value="vanilla">Vanilla JS</option>
          <option value="flutter">Flutter</option>
        </select>
      </div>
      <div>
        <label for="backend">Backend</label>
        <select id="backend" name="backend">
          <option value="nodejs">Node JS</option>
          <option value="nestjs">Nest JS</option>
          <option value="springboot">Springboot</option>
        </select>
      </div>
      <div>
        <label for="database">Database</label>
        <select id="database" name="database">
          <option value="mysql">MySql</option>
          <option value="mongodb">MongoDb</option>
        </select>
      </div>
    </div>
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <div>
        <label for="fname">Company name</label>
        <input type="text" id="fname" name="firstname" placeholder="" />
      </div>
      <div>
        <label for="fname">Another field</label>
        <input type="text" id="fname" name="firstname" placeholder="" />
      </div>
    </div>
    <input type="submit" value="Submit" />
  </form>
</div>
